{% extends 'registration/base_generic.html' %}
{% block title %}Welcome to Cafe Critics{% endblock %}

{% block content %}
    <p>If you don’t have an account yet, we’d love for you to create one! It’s simple and only takes a moment. If you already have an account, just click the login button to jump right back in and continue enjoying our App!</p>
    <a href="{% url 'cafeCritics:cafes' %}">View All Cafes</a>
    <div>
        <h2>Top Rated Cafes</h2>
    {% if cafes %}
        <ul>
            {% for cafe in cafes %}
            <li>
                <a href="{% url 'cafeCritics:show_cafe' cafe.slug %}">{{ cafe.name }}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no cafes present.</strong>
    {% endif %}
    </div>

    <div>
        <h2>Top Rated Drinks</h2>
    {% if drinks %}
        <ul>
            {% for drink in drinks %}
            <li>
                {{ drink.name }} from {{ drink.cafe }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>There are no drinks present.</strong>
    {% endif %}
    </div>
    {% endblock %}