{% extends 'registration/base_generic.html' %}
{% block body_class %}signup-background{% endblock %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Sign Up</h2>

    <!-- Form for user registration -->
    <form method="post" class="signup-form">
        {% csrf_token %}
        {{ form.as_p }} <!-- Renders all form fields, including user_type -->
        <button type="submit" class="btn btn-success w-100">Sign Up</button>
    </form>
    <!-- Link for users who already have an account -->
    <p class="mt-3 text-center">Already have an account? <a href="{% url 'cafeCritics:login' %}">Login here.</a></p>
</div>
{% endblock %}