{% extends 'registration/base_generic.html' %}
{% block title %}All Cafes - Cafe Critics{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">All Cafes</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for cafe in cafes %}
        <div class="col">
            <div class="card h-100">
                {% if cafe.photo %}
                <img src="{{ cafe.photo.url }}" class="card-img-top" alt="{{ cafe.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ cafe.name }}</h5>
                    <p class="card-text">
                        Location: {{ cafe.location }}<br>
                        Owner: {{ cafe.owner }}<br>
                        Average Rating: {{ cafe.average_rating }}<br>
                    </p>
                    <a href="{% url 'cafeCritics:show_cafe' cafe.slug %}" class="btn btn-primary">View Cafe</a>                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}