<body>
    <div id="menu">
        <p class="text-muted menu-description">Click the button below to load the drinks menu.</p>
        <!-- Button to trigger drinks menu loading -->
        <div class="box-button me-2" onclick="loadDoc(drinksurl, myFn1)" style="display:inline-block;">
            <div class="button"><span>See Drinks</span></div>
        </div>
        <!-- Link to add a review for the cafe -->
        <button type="button" class="review-btn" onclick="window.location.href='{% url 'cafeCritics:review' cafe.slug %}'">
            <span>Add a Review</span>
          </button>
    </div>
</body>