<body>
    <!-- Container for the drinks menu -->
    <div id="cafe">

        <div>
            <!-- Conditional display of drinks if any are present -->
            <h2>Drinks Menu</h2>
            {% if drinks %}
                <!-- Loop through each drink and display its details -->
                {% for drink in drinks %}
                <div>                   
                    <ul>
                        <li class="drink-name">Name - {{ drink.name }}</li><!-- Display the name of the drink -->
                        <li class="drink-price">Price - {{ drink.price }}</li><!-- Display the price of the drink -->
                        <li class="drink-rating">Rating - {{ drink.rating }}</li> <!-- Display the rating of the drink -->
                    </ul>
                </div>
                {% endfor %}
                <form method="post" class="drink-review-form"> <!-- POST method to securely send data to the server -->
                    {% csrf_token %} <!-- CSRF token to protect against CSRF attacks -->

                    <div class="form-group"> <!-- Group for text input -->
                        <label for="name"><strong>Drink:</strong></label>

                        <select name="id_name" id="name">
                            {% for drink in drinks %}
                            <option value="{{ drink.name }}">{{ drink.name }}</option>
                            {% endfor %}
                        </select>
                        
                    </div>

                    <div class="form-group rating-container">
                        <label for="id_rating"><strong>Rating:</strong></label>
                        <!-- From Uiverse.io -->
                        <div class="rating">
                          <input value="5" name="rating" id="star5" type="radio">
                          <label for="star5"></label>
                          <input value="4" name="rating" id="star4" type="radio">
                          <label for="star4"></label>
                          <input value="3" name="rating" id="star3" type="radio">
                          <label for="star3"></label>
                          <input value="2" name="rating" id="star2" type="radio">
                          <label for="star2"></label>
                          <input value="1" name="rating" id="star1" type="radio">
                          <label for="star1"></label>
                        </div>
                    </div>
                    <div class="box-button me-2"> <!-- Centered submit button -->
                        <button type="submit">Submit</button> <!-- Button to submit the form -->
                    </div>
                </form>
            {% else %}
                <!-- Message displayed if no drinks are available -->
                <strong>There are no drinks present.</strong>
            {% endif %}
            </div>
            <!-- Button to navigate back to the cafe description page -->
            <div class="box-button me-2" onclick="loadDoc(href='{% url 'cafeCritics:show_cafeAJAX' cafe.slug %}', myFn2)" style="display:inline-block;">
                <div class="button"><span>Go Back</span></div>
            </div>
</body>