<body>
    <!-- Container for the drinks menu -->
    <div id="cafe">

        <div>
            <!-- Conditional display of drinks if any are present -->
            <h2>Drinks Menu</h2>
            {% if drinks %}
                <!-- Loop through each drink and display its details -->
                {% for drink in drinks %}
                <div>                   
                    <ul>
                        <li class="drink-name">Name - {{ drink.name }}</li><!-- Display the name of the drink -->
                        <li class="drink-price">Price - {{ drink.price }}</li><!-- Display the price of the drink -->
                        <li class="drink-rating">Rating - {{ drink.rating }}</li> <!-- Display the rating of the drink -->
                    </ul>
                </div>
                {% endfor %}
            {% else %}
                <!-- Message displayed if no drinks are available -->
                <strong>There are no drinks present.</strong>
            {% endif %}
            </div>
            <!-- Button to navigate back to the cafe description page -->
            <div class="box-button me-2" onclick="loadDoc(cafeurl, myFn2)" style="display:inline-block;">
                <div class="button"><span>Go Back</span></div>
            </div>
</body>